# Django
DEBUG=True
SECRET_KEY=sd2q5w3nhpph9yye_@_9re@5d)e=*a_bx2itw@+)3^%drq=d)1
ALLOWED_HOSTS=localhost,127.0.0.1,myapp.onrender.com
SITE_URL=http://127.0.0.1:8000

# PostgreSQL
DB_NAME=hotel_ordering
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
